#header{text-align: center;background-color: rgba(240, 11, 11, 0.445);}
#nav{text-align: center;font-family: cursive;font-size: large; background-color: rgba(44, 32, 126, 0.537);color: brown;}
#title{font-size: large;font-family: Verdana, Geneva, Tahoma, sans-serif;background-color: white;}
#footer{font-weight: bold;text-align: center;background-color: f89393;}
#details{text-align: center;background-color: rgba(215, 61, 61, 0.524);font-size:200%;font-family:'Times New Roman', Times, serif;}
#home-button{text-align: center;}
.login{text-align: center;font-size:larger;}